.fund {
    position: relative;
    left: -35px;
    top: 4px;
}
.Box{
	position: relative;
	left: -30px;
	top: 36px;
}
.label{
	position: relative;
	left: 15px;
}
.button{
	position: relative;
	top:-15px;
}

.bottom{
	position: relative;
	bottom: -22px;
}

.KAmt{
	position: relative;
	left: -55px;
}

.Amt{
	position: relative;
	left: -55px;
}